<div class="container">
    <h1>Bem vindo(a)!</h1>
    <div *ngIf="hasId" class="manager">
        <table>
           <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th></th>
            <th></th>
           </tr>
           <tr *ngFor="let user of users">
             <td>{{user.id}}</td>
             <td>
              <input 
                type="text" 
                [(ngModel)]="user.name" 
                [name]="'name' + user.id" />
             </td>
             <td>
              <input 
              type="text" 
              [(ngModel)]="user.email" 
              [name]="'email' + user.id" />
             </td>
             <td><button (click)="editar(user)">Editar</button></td>
             <td><button class="ex" (click)="excluir(user.id)">Excluir</button></td>
           </tr>
        </table>
    </div>
</div>